{% extends "layout.html" %}

{% block title %}
    {{ info["name"] }}
{% endblock %}

{% block main %}
<h3>{{ info["name"] }}</h3>
    <h4>Description</h4>: <br>{{ info["description"] }}
        <br>
        {% if info["members"] %}
            <h4>Number of members</h4>: {{ info["members"] }}
        {% endif %}
        <br>
        {% if info["email"] %}
            <h4>Email address</h4>: {{ info["email"] }}
        {% endif %}
        <br>
        {% if info["website"] %}
            <h4>Website</h4>: <a href="{{ info['website'] }}" target="_blank">{{ info["website"] }}</a>
        {% endif %}
        <br>
        {% if info["address"] %}
            <h4>Mailing address</h4>: {{ info["address"] }}
        {% endif %}
        <br>
        {% if info["elections"] %}
            <h4>Month of elections</h4>: {{ info["elections"] }} <br>
        {% endif %}
        <br>

    <script src="static/clubhub.js"></script>
    <form action="/club" method="post" id="favorite">
        <input class="hidden" type="text" name="favorite" \>
        <input class="hidden" type="text" name="club_id" value={{ info["id"] }} />
        <button type="submit">{{ fav_status }}</button>
    </form> <br>

{% endblock %}