{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <script src="static/clubhub.js"></script>

    <h3>Welcome, {{ first_name }}!</h3>

    <form action="/" method="post">
        <h4>Category</h4>
        <div class="categories">
        <input type="checkbox" name="all"/>All <br>
        <input type="checkbox" name="academic"/>Academic and Preprofessional <br>
        <input type="checkbox" name="life"/>College Life <br>
        <input type="checkbox" name="arts"/>Creative and Performing Arts <br>
        <input type="checkbox" name="culture"/>Cultural and Racial Initiatives <br>
        <input type="checkbox" name="gender"/>Gender and Sexuality <br>
        <input type="checkbox" name="government"/>Government and Politics <br>
        <input type="checkbox" name="health"/>Health and Wellness <br>
        <input type="checkbox" name="hobbies"/>Hobbies and Special Interests <br>
        <input type="checkbox" name="media"/>Media and Publications <br>
        <input type="checkbox" name="PBHA"/>PBHA <br>
        <input type="checkbox" name="counseling"/>Peer Counseling/Peer Education <br>
        <input type="checkbox" name="service"/>Public Service <br>
        <input type="checkbox" name="religion"/>Religious and Spiritual Life <br>
        <input type="checkbox" name="SEAS"/>SEAS <br>
        <input type="checkbox" name="social"/>Social Organizations <br>
        <input type="checkbox" name="women"/>Women's Initiatives
        </div> <br>

        <h4>Comp Type</h4> <br>
        <input type="checkbox" name="all"/>All <br>
        <input type="checkbox" name="application"/>Application <br>
        <input type="checkbox" name="audition"/>Audition <br>
        <input type="checkbox" name="competition"/>Competition <br>
        <input type="checkbox" name="completion"/>Completion <br>
        <input type="checkbox" name="interview"/>Interview <br> <br>

        <h4>Time Commitement (hours per week)</h4> <br>
        <input name="min" placeholder="Min" type="number" min="1" max="20"> -
        <input name="max" placeholder="Max" type="number" min="1" max="20"> <br> <br>

        <h4>Rating</h4> <br>
        <input type="radio" name="rating" value="0" />All
        <input type="radio" name="rating" value="2" />>2
        <input type="radio" name="rating" value="3" />>3
        <input type="radio" name="rating" value="4" />>4
        <input type="radio" name="rating" value="5" />5

        <br><br>
        <script src="static/clubhub.js"></script>
        <button type="submit" onclick="storeChecks()">Filter</button>
        <button type="submit" onclick="clearFilter()">Clear Filters</button>
    </form>

    <form action="/club" method="post" id="club_link">
        <h3>Favorites:</h3>
        <ul>
        {% for row in favorites %}
            <li>
                <input class="hidden" type="radio" name="club_id" value={{ row["id"] }} id={{ row["id"] }} />
                <a onclick="goToClub({{ row['id'] }})" class="fake_link">{{ row["name"] }}</a>
            </li>
        {% endfor %}
        </ul>
        <h3>Clubs:</h3>
        <ul>
        {% for row in clubs %}
            <li>
                <input class="hidden" type="radio" name="club_id" value={{ row["id"] }} id={{ row["id"] }} />
                <a onclick="goToClub({{ row['id'] }})" class="fake_link">{{ row["name"] }}</a>
            </li>
        {% endfor %}
        </ul>
        <button type="submit" hidden="hidden"></button>
    </form>
{% endblock %}